.bordered {
    border: 2px dashed red;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
}

.containerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerRight { 
    display: flex;
    gap: 30px;
}
.imgLogo {
    width: 80px;
    height: 80px;
}


/* JUMBO */
.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
    width: 100vw;
    height: calc(100vh - 160px);
}


.jumbo {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.squareten {
    width: calc(100% / 10);
    height: calc(100% / 10);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.squarenine {
    width: calc(100% / 9);
    height: calc(100% / 9);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.squareseven {
    width: calc(100% / 7);
    height: calc(100% / 7);
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.squareten.attiva {
    background-color:aqua;
}

.squarenine.attiva {
    background-color:aqua;
}

.squareseven.attiva {
    background-color:aqua;
}
/* FOOTER */
.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    background-color: white;
}

.footer p {
    margin-bottom: 0;
    line-height: 60px;
    margin-left: 50px;
    font-size: 18px;
}